.form-check-input {
  cursor: pointer;
}

.dropdown-menu {
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.315)!important;
}

.form-label {
  color: #888;
}

.demo-editor {
  min-height: 300px !important;
  padding: 5px !important;
  border-radius: 2px !important;
  border: 1px solid #b8b8b8 !important;
}

.public-DraftStyleDefault-block {
    margin: 0 !important;
}

.DraftEditor-editorContainer {
  height: 300px;
}
