.color-nav {
  background-color: #153067;
}
.LinkContent {
  display: inline-block;
  position: relative;
  height: 3rem;
  line-height: 3rem;
  text-decoration: none;
  color: rgba(255,255,255,.55);
  transition: color 0.2s;
  margin-right: 1rem;
  margin-left: 1rem;
}
.LinkContent.active {
  color: rgb(255, 255, 255);
}
.LinkContent:hover {
  color: rgb(255, 255, 255);
}
.LinkContent.active::after {
  content: '';
  height: 3px;
  border-radius: 3px 3px 0 0;
  width: 100%;
  position: absolute;
  bottom: -4px;
  left: 0;
  background-color: rgb(21, 48, 215);
}

.nav-item.dropdown a{
  display: flex;
  align-items: center;
  height: 3rem;
}

.dropdown-menu {
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.255)!important;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(13deg, #fff 7%, #0d6efd 35%);
  border-radius: 15px;
}
::-webkit-scrollbar-track {
  background: #ffffff;
  border-radius: 10px;
  box-shadow: inset 7px 10px 12px #f0f0f0;
}

.LinkContent{
  display: flex;
  align-items: left;
}